*
  border: 0
  margin: 0
  padding: 0

.clear
  clear:both

html, body
  margin: 0
  padding: 0

body, td, th
  height: 100%
  background-color: white
  font-family: Geneva, Arial, Helvetica, sans-serif
  font-size: 12px
  color: #17333A
  line-height: 20px
  text-align: center
  min-width: 800px

h1
  padding: 10px 0 0 0
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif
  font-size: 20px

h2
  padding: 0
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif
  font-size: 14px


h3
  margin: 0
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif
  font-size: 14px
  font-variant: small-caps

#bloglink a:link
  color: #00F
#bloglink a:visited
  color: #00F
#bloglink a:hover
  color: #00F
#cataloglink a:link
  color: #00FE89
#cataloglink a:visited
  color: #00FE89
#cataloglink a:hover
  color: #00FE89
#showslink a:link
  color: #EF00FE
#showslink a:visited
  color: #EF00FE
#showslink a:hover
  color: #EF00FE
#contactlink a:link
  color: #F00
#contactlink a:visited
  color: #F00
#contactlink a:hover
  color: #F00

a:link
  color: #023859
  text-decoration: none

a:visited
  text-decoration: none
  color: #023859

a:hover
  text-decoration: underline
  color: #DE4FA1

.showlist
  margin: 5px 0 10px 210px


.linklist
  margin: 5px 0 0

#content
  min-height: 93%
  height: auto
  margin: 0 auto
  width: 100%
  text-align: left
  margin-top: 5px

#logobox
  margin: -5px 0 0 0

#contentbox
  margin-left: auto
  margin-right: auto
  width: 60%
  background: white
  font-size: 11px
  padding: 0 15px 15px
  border: none

.cataloglist
  margin: 5px 0
