* {
  border: 0;
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333333; }

a {
  color: #de4fa1;
  text-decoration: none; }
  a:hover {
    color: #de4fa1;
    text-decoration: underline; }

p, ul, ol {
  margin-bottom: 15px; }

h1#logo {
  text-indent: -9999px;
  background: url(/images/animated_logo.gif) center center no-repeat;
  height: 150px;
  margin: 15px 0; }

#body_content_left .inner {
  margin-right: 40px; }

#body_content_right ul {
  list-style: inside; }

#menu {
  text-align: center;
  width: 100%;
  margin-bottom: 50px; }
  #menu ul li {
    display: block;
    float: none;
    text-transform: uppercase;
    margin: 0 0 5px; }
    #menu ul li#item_0 a {
      color: blue; }
    #menu ul li#item_1 a {
      color: #ff9100; }
    #menu ul li#item_2 a {
      color: #00fe89; }
    #menu ul li#item_3 a {
      color: #ef00fe; }
    #menu ul li#item_4 a {
      color: red; }
    #menu ul li a {
      text-decoration: none;
      font-size: 13px;
      font-weight: bold; }
      #menu ul li a:hover, #menu ul li a.selected {
        text-decoration: underline; }

h1#body_content_title {
  display: none; }

h2 {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 14px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-bottom: 5px; }

body#page_7 {
  text-align: center; }
  body#page_7 #body_content_right {
    margin-right: 150px;
    width: 250px; }
  body#page_7 #links a {
    display: block;
    color: #333333;
    margin-bottom: 5px; }
    body#page_7 #links a:hover {
      color: #de4fa1 !important; }

body#page_10 #products h2.year, body#page_10 #shows h2.year, body#page_9 #products h2.year, body#page_9 #shows h2.year {
  text-decoration: none;
  font-size: 22px;
  border-bottom: 3px groove #00fe89;
  margin: 10px 0 12px; }
body#page_10 #products .product, body#page_10 #products .show, body#page_10 #shows .product, body#page_10 #shows .show, body#page_9 #products .product, body#page_9 #products .show, body#page_9 #shows .product, body#page_9 #shows .show {
  margin-right: 30px;
  float: left;
  margin-bottom: 40px; }
  body#page_10 #products .product a:hover, body#page_10 #products .show a:hover, body#page_10 #shows .product a:hover, body#page_10 #shows .show a:hover, body#page_9 #products .product a:hover, body#page_9 #products .show a:hover, body#page_9 #shows .product a:hover, body#page_9 #shows .show a:hover {
    text-decoration: none; }
  body#page_10 #products .product img, body#page_10 #products .show img, body#page_10 #shows .product img, body#page_10 #shows .show img, body#page_9 #products .product img, body#page_9 #products .show img, body#page_9 #shows .product img, body#page_9 #shows .show img {
    display: block;
    max-height: 150px;
    border: 1px solid #f0f0f0; }
body#page_10 #products_show #sidebar, body#page_10 #shows_show #sidebar, body#page_9 #products_show #sidebar, body#page_9 #shows_show #sidebar {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center; }
  body#page_10 #products_show #sidebar #price, body#page_10 #shows_show #sidebar #price, body#page_9 #products_show #sidebar #price, body#page_9 #shows_show #sidebar #price {
    display: inline-block;
    vertical-align: 7px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 15px; }
  body#page_10 #products_show #sidebar #product_image img, body#page_10 #shows_show #sidebar #product_image img, body#page_9 #products_show #sidebar #product_image img, body#page_9 #shows_show #sidebar #product_image img {
    width: 287px; }
  body#page_10 #products_show #sidebar #purchase_button, body#page_10 #shows_show #sidebar #purchase_button, body#page_9 #products_show #sidebar #purchase_button, body#page_9 #shows_show #sidebar #purchase_button {
    display: inline-block;
    margin-top: 20px;
    text-align: center; }
    body#page_10 #products_show #sidebar #purchase_button form, body#page_10 #shows_show #sidebar #purchase_button form, body#page_9 #products_show #sidebar #purchase_button form, body#page_9 #shows_show #sidebar #purchase_button form {
      display: inline-block; }
body#page_10 #products_show #main_content, body#page_10 #shows_show #main_content, body#page_9 #products_show #main_content, body#page_9 #shows_show #main_content {
  float: left;
  max-width: 500px; }
  body#page_10 #products_show #main_content #details .name, body#page_10 #shows_show #main_content #details .name, body#page_9 #products_show #main_content #details .name, body#page_9 #shows_show #main_content #details .name {
    font-weight: bold;
    font-size: 18px; }
  body#page_10 #products_show #main_content #details .artist, body#page_10 #products_show #main_content #details .location, body#page_10 #shows_show #main_content #details .artist, body#page_10 #shows_show #main_content #details .location, body#page_9 #products_show #main_content #details .artist, body#page_9 #products_show #main_content #details .location, body#page_9 #shows_show #main_content #details .artist, body#page_9 #shows_show #main_content #details .location {
    font-style: italic;
    font-size: 14px;
    color: #999999; }
  body#page_10 #products_show #main_content #details .catalog_number, body#page_10 #shows_show #main_content #details .catalog_number, body#page_9 #products_show #main_content #details .catalog_number, body#page_9 #shows_show #main_content #details .catalog_number {
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 3px; }
  body#page_10 #products_show #main_content #description, body#page_10 #shows_show #main_content #description, body#page_9 #products_show #main_content #description, body#page_9 #shows_show #main_content #description {
    line-height: 18px;
    margin-top: 15px; }
    body#page_10 #products_show #main_content #description img, body#page_10 #shows_show #main_content #description img, body#page_9 #products_show #main_content #description img, body#page_9 #shows_show #main_content #description img {
      display: inline;
      max-height: none;
      border: 1px solid #f0f0f0; }
    body#page_10 #products_show #main_content #description ul, body#page_10 #products_show #main_content #description ol, body#page_10 #shows_show #main_content #description ul, body#page_10 #shows_show #main_content #description ol, body#page_9 #products_show #main_content #description ul, body#page_9 #products_show #main_content #description ol, body#page_9 #shows_show #main_content #description ul, body#page_9 #shows_show #main_content #description ol {
      margin-left: 18px; }
    body#page_10 #products_show #main_content #description h1, body#page_10 #shows_show #main_content #description h1, body#page_9 #products_show #main_content #description h1, body#page_9 #shows_show #main_content #description h1 {
      font-size: 16px;
      margin: 15px 0 10px; }
    body#page_10 #products_show #main_content #description h2, body#page_10 #shows_show #main_content #description h2, body#page_9 #products_show #main_content #description h2, body#page_9 #shows_show #main_content #description h2 {
      font-size: 14px;
      margin: 10px 0 5px; }
    body#page_10 #products_show #main_content #description h3, body#page_10 #shows_show #main_content #description h3, body#page_9 #products_show #main_content #description h3, body#page_9 #shows_show #main_content #description h3 {
      font-size: 12px;
      margin: 10px 0 5px; }

#page_container > footer {
  margin: 150px auto 0;
  padding: 10px 0; }
  #page_container > footer #copyright {
    text-align: center;
    margin-top: 10px; }
  #page_container > footer .content {
    background: url(/images/footer_banner.png) top center no-repeat;
    height: 195px;
    width: 645px;
    margin: 0 auto;
    padding: 15px; }
    #page_container > footer .content #social_links {
      text-align: left; }
      #page_container > footer .content #social_links a {
        text-indent: -9999px;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-image: url(/images/social_icons.png);
        display: inline-block;
        margin: 3px; }
        #page_container > footer .content #social_links a.facebook {
          background-position: 0 0; }
        #page_container > footer .content #social_links a.flickr {
          background-position: 0 -82px; }
        #page_container > footer .content #social_links a.rss {
          background-position: 0 -164px; }
        #page_container > footer .content #social_links a.soundcloud {
          background-position: 0 -246px; }
        #page_container > footer .content #social_links a.twitter {
          background-position: 0 -328px; }
        #page_container > footer .content #social_links a.vimeo {
          background-position: 0 -410px; }
        #page_container > footer .content #social_links a.youtube {
          background-position: 0 -492px; }
  #page_container > footer #mc_embed_signup {
    margin-top: 10px; }
    #page_container > footer #mc_embed_signup .button {
      background-color: #666666; }
      #page_container > footer #mc_embed_signup .button:hover {
        background-color: #999999; }
    #page_container > footer #mc_embed_signup form {
      padding: 0; }

.hover_caption {
  background-color: rgba(0, 0, 0, 0.7); }

.hover_caption_wrapper h3.hover_caption_caption {
  word-wrap: break-word;
  font-size: 12px !important; }
  .hover_caption_wrapper h3.hover_caption_caption span.artist {
    font-size: 14px !important;
    color: #de4fa1;
    display: block;
    margin-top: 5px; }
  .hover_caption_wrapper h3.hover_caption_caption span.price, .hover_caption_wrapper h3.hover_caption_caption span.date {
    color: #00fe89;
    display: block;
    font-weight: normal; }
  .hover_caption_wrapper h3.hover_caption_caption span.date {
    margin-top: 5px; }
